In [1]:
import numpy as np
import pandas as pd

In [2]:
#2-2

df = pd.read_csv('pokemon.csv')
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [5]:
#2-3

sdf = df.loc[:, ['attack', 'defense', 'hp', 'speed', 'is_legendary']]
sdf

     attack  defense   hp  speed  is_legendary
0        49       49   45     45             0
1        62       63   60     60             0
2       100      123   80     80             0
3        52       43   39     65             0
4        64       58   58     80             0
..      ...      ...  ...    ...           ...
796     101      103   97     61             1
797     181      131   59    109             1
798     101       53  223     43             1
799     107      101   97     79             1
800      95      115   80     65             1

[801 rows x 5 columns]

In [12]:
#2-4,5

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X = sdf.drop('is_legendary', axis = 1).values
y = sdf['is_legendary']

X, y

(array([[ 49,  49,  45,  45],
        [ 62,  63,  60,  60],
        [100, 123,  80,  80],
        ...,
        [101,  53, 223,  43],
        [107, 101,  97,  79],
        [ 95, 115,  80,  65]], dtype=int64),
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 796    1
 797    1
 798    1
 799    1
 800    1
 Name: is_legendary, Length: 801, dtype: int64)

In [65]:
#2-6

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y,  train_size = 0.5, stratify = y)

In [66]:
np.mean(ytrain), np.mean(ytest)

(0.0875, 0.08728179551122195)

In [67]:
#2-7

model = LogisticRegression()
model.fit(Xtrain, ytrain)

LogisticRegression()

In [68]:
#2-8

y_model = model.predict(Xtest)
from sklearn.metrics import accuracy_score
accuracy_score(ytest, y_model)

0.9276807980049875