In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv('real_estate.csv')
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [5]:
sdf = df.loc[:,['X2 house age', 'X3 distance to the nearest MRT station',
                'X4 number of convenience stores', 'Y house price of unit area']]
sdf.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
0,32.0,84.87882,10,37.9
1,19.5,306.59470,9,42.2
2,13.3,561.98450,5,47.3
3,13.3,561.98450,5,54.8
4,5.0,390.56840,5,43.1

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [7]:
X = sdf.drop('Y house price of unit area', axis = 1)
y = sdf['Y house price of unit area']

In [17]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.2, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [9]:
reg = LinearRegression()
reg.fit(Xtrain, ytrain)

LinearRegression()

In [10]:
coef_df = pd.DataFrame(reg.coef_, X.columns, columns = ['Coefficient'])
coef_df

                                        Coefficient
X2 house age                              -0.238607
X3 distance to the nearest MRT station    -0.005186
X4 number of convenience stores            1.495930

In [11]:
y_pred = reg.predict(Xtest)

In [12]:
ldf = pd.DataFrame({'Act': ytest, 'Pred': y_pred})
ldf

       Act       Pred
336   35.6  33.622458
49    13.2  12.621651
270  117.5  39.139733
219   40.2  43.759539
347   11.2   5.229162
..     ...        ...
125   48.6  49.239817
201   45.9  42.970157
386   55.3  40.568996
59    42.4  44.094071
96    59.5  52.997794

[83 rows x 2 columns]

In [13]:
from sklearn import metrics

print('Mean Squared Error:', metrics.mean_squared_error(ytest, y_pred))

Mean Squared Error: 142.67076584404597