In [75]:
import numpy as np
import pandas as pd

df = pd.read_csv('real_estate.csv')
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [76]:
sdf = df.loc[:,['X2 house age', 'X3 distance to the nearest MRT station',
                'X4 number of convenience stores', 'Y house price of unit area']]
sdf.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
0,32.0,84.87882,10,37.9
1,19.5,306.59470,9,42.2
2,13.3,561.98450,5,47.3
3,13.3,561.98450,5,54.8
4,5.0,390.56840,5,43.1

In [77]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [78]:
X = sdf.drop('Y house price of unit area', axis = 1)
y = sdf['Y house price of unit area']

In [79]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.2)

In [80]:
reg = LinearRegression()
reg.fit(Xtrain, ytrain)

LinearRegression()

In [81]:
coef_df = pd.DataFrame(reg.coef_, X.columns, columns = ['Coefficient'])
coef_df

                                        Coefficient
X2 house age                              -0.275792
X3 distance to the nearest MRT station    -0.005321
X4 number of convenience stores            1.311644

In [82]:
y_pred = reg.predict(Xtest)

In [83]:
ldf = pd.DataFrame({'Act': ytest, 'Pred': y_pred})
ldf

      Act       Pred
11   58.1  53.174830
103  45.7  50.349841
200  25.5  33.491495
352  25.7  28.215300
256  26.5  39.068844
..    ...        ...
193  49.3  45.229134
77   25.6  30.242620
75   29.5  34.270733
225  49.0  50.125254
244  21.7  37.899888

[83 rows x 2 columns]

In [84]:
from sklearn import metrics

print('Mean Squared Error:', metrics.mean_squared_error(ytest, y_pred))

Mean Squared Error: 48.70276150916717